<p id="notice"><%= notice %></p>
<% title @device_image.device.member+"的"+@device_image.device.brand %>
<%= render :partial=>"show", :locals => {:device_image => @device_image } %>
<%= link_to '更新图片', edit_device_image_path(@device_image.device_id), "data-role"=>"button" %> 
