    <% @categories.each do |category| %>
  <ul data-role="listview" data-inset=true>
      <li> <%= link_to category.name, category %></li>
      <% unless category.children.blank? %>
        <% category.children.all.each do |c| %>
          <li><%= link_to category.name+">>"+c.name, c %></li> 
        <% end %>
      <% end %>
    </ul>
    <% end %>
