<p id="notice"><%= notice %></p>
  <ul data-role="listview" data-inset=true>
    <% @categories.each do |category| %>
      <li> <%= link_to category.name, category %></li>
    <% end %>
  </ul>
<%= link_to 'New Category', new_category_path %>
