<% title "机构管理员" %>
<ul data-role="listview" data-inset="true">
  <% @members.each do |member| %>
    <li><%= link_to member.username+"=>"+"#{member.branch.branchname unless member.branch.blank?}", edit_member_path(member) %></li>
<% end %>
</ul>
